#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chromium Work
Exec=/usr/bin/chromium --profile-directory=Profile\ 1
Icon=chromium
