[Desktop Entry]
GenericName=Color temperature adjustment
Icon=redshift
Categories=Utility;
X-GNOME-Autostart-enabled=true
Exec=redshift-gtk
Hidden=false
Name=Redshift
StartupNotify=true
Type=Application
Comment=Color temperature adjustment tool
Terminal=false
Version=1.0

