#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chromium Personal
Exec=/usr/bin/env chromium --profile-directory=Default
Icon=google-chrome
